@import "tailwindcss";

@theme{
  --color-primes:#0B0757;
  --color-burgundy:#735ae5;
  --animate-marquee: marquee 30s linear infinite;


  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

  
}
::selection{
  background-color: #735ae5;
  color: white;
}


:root{
  --primary-color:#0B0757;
}
.custom-gradient1 {
  background: transparent linear-gradient(244deg, #fde6cd, #ebebff) 0 0 no-repeat padding-box;
}
.text-gradient1 {
  background: linear-gradient(99deg, #ffc465 0%, #5338ff 100%);
  background-clip: text;
  color: transparent;
}
.background{
  background: transparent linear-gradient(244deg, #fde6cd, #ebebff) 0 0 no-repeat padding-box;

}
.custom{
  background: transparent linear-gradient(171deg, #ffc465, #5338ff) 0 0 no-repeat padding-box;
  border-radius: 12px;
  width: 4px;

}
.background-img{
  background-image: url("./assets/images/Background1.png");
  background-size: cover;
}
.background-gradient{
  background: transparent linear-gradient(92deg, #FFC465 0%, #5338FF 100%) 0% 0% no-repeat padding-box;
}
.background-gradient1{
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #F6F6FD 100%) 0% 0% no-repeat padding-box;
}




.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}


